NuclexWindowsFormsConfig.cmake

# Visual Studio Codium
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Visual Studio
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Artifacts
[Bb]in/
[Oo]bj/
